{% extends "layout.html" %}
{% block body %}

{% from "includes/formhelpers.html" import render_field %}

<form method = "POST">

    
    <form method = "POST">
        <body style="background-color:purple;">
                
        </body><section class="w-100 px-4 py-5 gradient-custom" style="border-radius: .5rem .5rem 0 0;">
        
       
    <section class="vh-100 gradient-custom">
            
           
            <div class="container py-5 h-100">
                <div class="row justify-content-center align-items-center h-100">
                    <div class="col-12 col-lg-9 col-xl-7">
                    <div class="card shadow-2-strong card-registration" style="background-color:green;">
                        <div class="card-body p-4 p-md-5">
                        <h3 class="mb-4 pb-2 pb-md-0 mb-md-5">Registration Form</h3>
                        <form>
            
                            <div class="row">
                            <div class="col-md-6 mb-4">
            
                                <div class="form-outline">
                                    {{ render_field(form.name,class = "form-control") }}
                                <label class="form-label" for="firstName">Name</label>
                                </div>
            
                            </div>
                            <div class="col-md-6 mb-4">
            
                                <div class="form-outline">
                                    {{ render_field(form.username,class = "form-control") }}
                                <label class="form-label" for="lastName">Username</label>
                                </div>
            
                            </div>
                            </div>
            
                            <div class="row">
                            <div class="col-md-6 mb-4 d-flex align-items-center">
            
                                <div class="form-outline datepicker w-100">
                                    {{ render_field(form.password,class = "form-control") }}
                                <label for="birthdayDate" class="form-label">Password</label>
                                </div>
            
                    
                                
                            </div>
                            <div class="col-md-6 mb-4 pb-2">
            
                                <div class="form-outline">
                                    {{ render_field(form.confirm,class = "form-control") }}
                                <label class="form-label" for="phoneNumber">Confirm Password</label>
                                </div>
            
                            </div>
                            </div>
            
                        
            
                            <div class="mt-4 pt-2">
                            <input class="btn btn-primary btn-lg" type="submit" value="Submit" />
                            </div>
            
                        </form>
                        </div>
                    </div>
                    </div>
                </div>
                </div>
            </section>
        </body>
    
    
    
    
    </form>
    
    












</form>
{% endblock body %}
